fastjsonschema==2.20.0
importlib-metadata==8.7.0
json5==0.9.2
jupyterlab==4.2.5
plotly==5.24.1
pip==25.2
cloudpickle==3.1.1
GitPython==3.1.45
keras==3.10.0
matplotlib==3.10.0
numpy==2.0.2
openpyxl==3.1.5
pandas==2.2.2
prophet==1.1.7
seaborn==0.13.2
statsmodels==0.14.5
tensorflow==2.19.0
torch==2.8.0+cu126
Werkzeug==3.1.3
wurlitzer==3.1.1
yfinance==0.2.66
